<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
    </style>
  </head>

  <body>
    <%= form_for(convert) do |f| %>
      <%= f.select :currency_code, [], {}, {} %>
      <%= f.text_field :amount %>
      <%= f.text_field :currency_code_to_convert %>
      <%= f.submit 'Convert'%>
    <% end %>
  </body>
</html>
